<div class="container-fluid footer_container">
    <div class="container footer">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12 left_side"></div>
            <div class="footer_content col-md-8 col-sm-12 col-xs-12 m-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_title">Айыл-чарба</div>
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    <li><a href="">Главная</a></li>
                                    <li><a href="">Компании</a></li>
                                    <li><a href="">Новости</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_title">Контакты</div>
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    <li>+996 (700) 222 932</li>
                                    <li>Whats App</li>
                                    <li>Viber</li>
                                    <li>Telegram</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    <li class="nav-item">
                                        <a class="nav-link ad_advert" href="#">Добавить объявление<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <form action="#">
                                            <input type="search" placeholder="Поиск">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 right_side"></div>
        </div>
    </div>
</div>
<script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script src="js/main.js"></script>
</body>
</html>