{% extends 'base.html' %}
{% load staticfiles %}
{% load ads_types %}

{% block content %}
    <div class="container main_content">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 left_side">
                <div class="left_panel sticky-top">
{#                                        <form action="#" class="search"><input type="search" id="mobile_input" placeholder="Поиск"></form>#}
                    <div class="panel_title">объявления</div>
                    <ul id="left_menu_list">
                        <li><a href="#all_ads" class="active" role="tab" data-toggle="tab">Все объявления</a></li>
                        <li><a href="#sell" role="tab" data-toggle="tab">продаю</a></li>
                        <li><a href="#buy" role="tab" data-toggle="tab">куплю</a></li>
                        <li><a href="#change" role="tab" data-toggle="tab">меняю</a></li>
                        <li><a href="#rent" role="tab" data-toggle="tab">аренда</a></li>
                        <li><a href="#offers" role="tab" data-toggle="tab">услуги</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 posts_container">
                <div class="ads_category_filter">
                    <ul class="category_list">
                        <li><a href="{% url 'main' %}?category=stock_raising"><img src="{% static 'img/sheep.svg' %}"
                                                                                   alt=""><span
                                class="category_name">Животноводство</span></a>
                        </li>

                        <li><a href="{% url 'main' %}?category=aviculture"><img src="{% static 'img/chicken.svg' %}"
                                                                                alt=""><span
                                class="category_name">Птицеводство</span></a></li>
                        <li><a href="{% url 'main' %}?category=pisciculture"><img src="{% static 'img/fish.svg' %}" alt=""><span
                                class="category_name">Рыбоводство</span></a>
                        </li>
                        <li><a href="{% url 'main' %}?category=plant_growing"><img src="{% static 'img/vegetables.svg' %}" alt=""><span
                                class="category_name">Растениводство</span></a></li>
                        <li><a href="{% url 'main' %}?category=apiculture"><img src="{% static 'img/bees.svg' %}" alt=""><span
                                class="category_name">Пчеловодство</span></a>
                        </li>
                        <li><a href="{% url 'main' %}?category=stern"><img src="{% static 'img/food.png' %}" alt=""><span
                                class="category_name">Корма</span></a></li>
                        <li><a href="{% url 'main' %}?category=veterinary_drugs"><img src="{% static 'img/pills.svg' %}" alt=""><span
                                class="category_name">Ветеринарные препараты</span></a></li>
                        <li><a href="{% url 'main' %}?category=the_property"><img src="{% static 'img/buildings.svg' %}" alt=""><span
                                class="category_name">Недвижимость</span></a>
                        </li>
                        <li><a href="{% url 'main' %}?category=production"><img src="{% static 'img/products.svg' %}" alt=""><span
                                class="category_name">Продукция</span></a>
                        </li>
                        <li><a href="{% url 'main' %}?category=equipment"><img src="{% static 'img/tractor.svg' %}" alt=""><span class="category_name">Сельхозтехника и оборудования</span></a>
                        </li>
                        <li><a href="{% url 'main' %}?category=fertilizer"><img src="{% static 'img/fertilizer.svg' %}" alt=""><span
                                class="category_name">Удобрения</span></a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="all_ads">
                        {% for i in all_ads %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.pk %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix">
                                    <img src="{{ i.image.url }}" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if is_paginated %}
                            <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{% url 'main' %}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{% url 'main' %}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade show" id="sell">
                        {% ads_types 'sell' as sell_ads %}
                        {% for i in sell_ads %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.id %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix"><a href="#"><img
                                        src="{{ i.image.url }}"
                                        alt=""></a></div>
                            {% endif %}
                        {% endfor %}


                    </div>
                    <div class="tab-pane fade show " id="offers">
                        {% ads_types "offers" as offers %}
                        {% for i in offers %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.id %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix"><a href="#"><img
                                        src="{{ i.image.url }}"
                                        alt=""></a></div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="tab-pane fade show " id="buy">
                        {% ads_types 'buy' as buy %}
                        {% for i in buy %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.id %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix"><a href="#"><img
                                        src="{{ i.image.url }}"
                                        alt=""></a></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade show " id="rent">
                        {% ads_types "rent" as rent %}
                        {% for i in rent %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.id %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix"><a href="#"><img
                                        src="{{ i.image.url }}"
                                        alt=""></a></div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="tab-pane fade show " id="change">
                        {% ads_types "change" as change %}
                        {% for i in change %}
                            {% if not forloop.counter|divisibleby:4 %}
                                <div class="post clearfix">
                                    <div class="post_image col-md-4 col-sm-4 col-xs-12 no_padding">
                                        <img src="{{ i.media.first.media_file.url }}" alt="" onerror="CleanFunc(this)">
                                    </div>
                                    <div class="post_describe col-md-8 col-sm-8 col-xs-12 no_padding">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Объявления</a></li>
                                            <li class="breadcrumb-item"><a href="#">{{ i.get_advert_type_display }}</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{ i.get_categories_display }}</li>
                                        </ol>
                                        <div class="date_block">
                                            <span>{{ i.date }}</span>
                                        </div>
                                        <div class="post_title">
                                            <h2>{{ i.title }}</h2>
                                        </div>
                                        <div class="post_describe_text">
                                            <p>{{ i.text | safe }}</p>
                                        </div>
                                        <div class="more_block">
                                            <a href="{% url 'ad:ad_detail' i.id %}" class="show_more">показать</a>
                                            <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="banner_post clearfix"><a href="#"><img
                                        src="{{ i.image.url }}"
                                        alt=""></a></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 right_side">
                <div class="right_banner sticky-top">
                    <a href="#"><img src="{% static 'img/banner2.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
