<div class="container-fluid main_slider">
    <div class="slider_item">
        <div class="slider_item_caption">
            <div class="caption_title"></div>
            <div class="caption_subtitle"></div>
        </div>
        <img src="img/cow.jpeg" alt=""></div>
    <div class="slider_item">
        <div class="slider_item_caption">
            <div class="caption_title"></div>
            <div class="caption_subtitle"></div>
        </div>
        <img src="img/cow.jpeg" alt=""></div>
    <div class="slider_item">
        <div class="slider_item_caption">
            <div class="caption_title"></div>
            <div class="caption_subtitle"></div>
        </div>
        <img src="img/cow.jpeg" alt=""></div>
    <div class="slider_item">
        <div class="slider_item_caption">
            <div class="caption_title"></div>
            <div class="caption_subtitle"></div>
        </div>
        <img src="img/cow.jpeg" alt=""></div>
</div>